@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,200&family=Roboto:wght@100&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", serif;
  background-color: #f8f8f8;
}
nav {
  max-width: 100%;
  margin: auto;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav-logo a {
  color: #1d4ed8;
  font-size: 30px;
  font-weight: 400;
  font-size: 45px;
  transition: all 0.3s ease;
}
.nav-logo a:hover {
  color: #1d4ef8;
}
.nav-logo {
  max-width: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
  color: #0034b9;
}

.link a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 1px;
  background-color: #1d4ed8;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 90%;
}

.btn1 {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #fe620a;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn1:hover {
  background-color: #1d4ef8;
}

.img-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-header img {
  max-width: 100%;
  height: auto;
  align-self: stretch;
  object-fit: cover;
  max-width: 1700px;
}

.boasvindas-bg {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 90px 300px;
  align-items: center;
  gap: 120px;
}
.boasvindas h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 67.2px */
}

.boasvindas-left p {
  font-family: poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  margin-bottom: 30px;
}

.btn-menu {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #1344f0;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 25px;
}

.btn-menu:hover {
  color: #222;
  background: inherit;
  border: solid 1px #0034b9;
}

.boasvindas-left a {
  padding: 12px 24px;
}

.informacoes-bg {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding: 112px 64px;
  gap: 165px;
}
.informacoes i {
  transition: all 0.3s ease;
}
.informacoes i:hover {
  color: #0034b9;
}

.informacoes h1 {
  font-family: poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 33.6px */
  margin-bottom: 25px;
}
.informacoes p {
  margin-bottom: 15px;
}

.especialidades-bg {
  display: flex;
  justify-content: center;
  margin-left: 250px;
  padding: 90px 00px;
  align-items: center;
  gap: 120px;
  width: 1440px;
  padding: 112px 64px;
  gap: 90px;
}

.exp-1 h1 {
  font-family: poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 57.6px */
  margin-bottom: 30px;
}
.exp-2 img {
  flex: 1 0 0;
}

.galeria-bg h1,
.galeria-bg p {
  display: flex;
  justify-content: start;
  margin-left: 250px;
  padding: 20px;
  padding-bottom: 20px;
  align-items: center;

  width: 1440px;
}
.galeria-bg h1 {
  font-family: poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  padding-top: 20px;
}

.galeria-bg p {
  font-family: poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.principal {
  width: 60%;
  margin: 2rem auto;
}

.galeria-img {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 0.5rem;
}

.imgGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.itemGaleria {
  overflow: hidden;
}

.item01 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 5;
}
.item02 {
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}
.item03 {
  grid-column: 5 / span 4;
  grid-row: 1 / span 5;
}

.item04 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 3;
}

.item05 {
  grid-column: 1 / span 5;
  grid-row: 6 / span 3;
}

.item06 {
  grid-column: 6 / span 3;
  grid-row: 6 / span 3;
}

.galeria-img img {
  transition: all 0.3s ease;
}

.galeria-img img:hover {
  transform: scale(1.2);
}

.exp-1 p {
  margin-bottom: 50px;
}

.eventos h2 {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 67.2px */
  margin-bottom: 30px;
  margin-top: 30px;
}

.cards{
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 align-items: center;
 justify-items: center;
 


}


.cards p{
  height: 30;
  padding-bottom: 25px;
  padding-top: 20px;
}

.cards h1{
  margin:  10px auto;
  
}

.eventoTitulo{
  text-align: center;

}

.eventoTitulo h1{
  font-family: poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 57.6px */
margin-top: 120px;
margin-bottom: 35px;
}

.eventoTitulo p{
  font-family: poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 27px */
margin-bottom: 45px;
}

footer {
  display: flex;
  grid-template-columns: repeat(2, auto);
  gap: 9rem;
  padding-top: 160px;
}

footer .column .logo {
  max-width: 100px;
  margin-bottom: 2rem;
}

footer .column p {
  color: #ccc;
  margin-bottom: 2rem;
}

footer .column .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}

footer .column .socials a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 100%;
  transition: all 0.3s ease;
}

footer .column .socials a:hover {
  color: #fff;
  background-color: #1d4ed8;
}

footer .column h4 {
  color: #222;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-weight: 500;
}

footer .column > a {
  display: block;
  color: #ccc;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

footer .column > a:hover {
  color: #1d4ed8;
}

.copyright {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #ccc;
  font-size: 0.8rem;
  text-align: center;
}
